@model IEnumerable<AspNetDiscount.Entity.Product>
@{
    ViewBag.Title = "Index";
}
<h2>Ürünler</h2>
<a href="/Discounts/Index">İndirimleri Görüntüle</a>
<table class="table">
    <tr>
  
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DiscoundedPrice)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiscoundedPrice)
    </td>
</tr>
    }

</table>

